DB_URL=
DB_TEST_URL=
DB_MIGRATION_DIR=

ALLOW_ORIGINS=

TOKEN_MAKER=
TOKEN_SECRET_KEY=
ACCESS_TOKEN_TTL=
REFRESH_TOKEN_TTL=

AWS_REGION=
AWS_S3_ENDPOINT=
AWS_S3_IMAGE_BUCKET=

GMAIL_SENDER_NAME=
GMAIL_SENDER_ADDRESS=
GMAIL_SENDER_PASSWORD=

RESEND_API_KEY=

