DB_URL=
DB_TEST_URL=
DB_MIGRATION_DIR=internal/infrastructure/database/migrations

ALLOW_ORIGINS=

TOKEN_MAKER=
TOKEN_SECRET_KEY=
ACCESS_TOKEN_TTL=
REFRESH_TOKEN_TTL=

AWS_REGION=
AWS_ENDPOINT=
AWS_S3_IMAGE_BUCKET=
AWS_SNS_EMAIL_NOTIFICATION_TOPIC_ARN=
AWS_SNS_PUSH_NOTIFICATION_TOPIC_ARN=
VNP_TMNCODE=
VNP_HASHSECRET=
VNP_URL=
VNP_API=

ELASTICSEARCH_ADDRESSES=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_CACERT_PATH=

REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=