<div style="width: 60vw;">
  <h1 style="text-align: center; background-color: antiquewhite; width: 100%; margin: 0; padding: 4px 0">Xin chào từ
    RRMS</h1>
  <div style="width: 100%; padding: 16px 0; background-color: rgb(221, 221, 221);">
    <div
      style="margin-right: auto; margin-left: auto; padding: 16px 32px; max-width: 640px; border: 1px; background-color: white;">
      <h2 style="margin: 0;">Xin chào, {{.UserName}}!</h2>
      <div style="text-align: justify; margin: 8px 0">Bạn đã nộp đơn ứng tuyển thuê nhà (<a href="/listings/listing/{{.ListingId}}">{{.ListingTitle}}</a>) thành công. Đơn ứng tuyển của bạn sẽ được xem xét và phản hồi trong vòng 30 ngày.</div>
      <div style="display:flex; flex-direction: row; justify-content: center; width: 100%;">
        <a href="/manage/applications/application/{{.ApplicationId}}"
          style="width: 200px; height: 60px; background-color: rgb(255, 12, 12); color: white; font-weight: 800; border: none; text-align: center; line-height: 60px; text-decoration: none;">Xem
          đơn đăng ký</a>
      </div>
      <div style="font-size: 12px; margin-top: 16px;">Nếu bạn có bất kì thắc mắc nào, vui lòng liên hệ với chúng tôi qua email <a href="mailto:rrms@email.com">RRMS</a></div>
    </div>
  </div>
</div>
